node_modules
dist
bower_components
firebase.json
.firebaserc
.tmp
dist
.editorconfig
.travis.yml
scripts_config.js
customerapp/app/scripts/firebase-config.js
*.md
*.log
*.sh
.publish/
storeapp/.tmp
storeapp/app/scripts/firebase-config.js
